@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');

html{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: black;
}

body{
    max-width: 100%;
}

#heading{
    
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
}

#data{
    position: relative;
    top: 100px;
    text-align: center;
}

#tableData{
    font-size: 16px;
}

@media screen and (max-width: 678px){
    #tableData{
        font-size: 14px;
    }
}

#footer {
    background-color: rgba(50, 205, 50, 0.345);
    
    
    padding: 20px 0px;
    color: #999;
    /* position: absolute;
    bottom: 0; */
    
  }

.footText{
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

#footerContainer{
    
    position: fixed; 
    bottom: 0px;
    
}

@media screen and (max-width: 767px){

    #footerContainer{
        position: absolute; 
        top: 900px;
    }
}  

#footerContent{
    display: flex; 
    justify-content: center; 
}

#introduction{
    white-space: pre-line;
    text-align: end;
    width: 400px;
    padding-left: 80px;
    box-sizing: border-box;
    color: black;
    font-family: 'Cantarell', sans-serif;
    font-size: 16px;
}

.social{
    padding-right: 80px;
    width: 400px;
    display: flex;
    align-items: center;
}

#links{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 576px){

    #footerContent{
        display: flex;
        flex-wrap: wrap;    
    }

    #introduction{
        
        white-space: normal;
        text-align: center;
        width: 70vw;
        color: black;
        font-family: 'Cantarell', sans-serif;
        font-size: 14px;
    
        padding-left: 0px;
        box-sizing: border-box;
    }
    
    .social{
        padding-right: 0px;
        padding-top: 10px;
        width: 60vw;
        box-sizing: border-box;
        justify-items: center;

        display: block;
    }

    #links{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}  





@media screen and (min-width: 1200px) {
    #heading {
      font-size: 32px;
    }
}

@media screen and (min-width: 1001px) {
    #heading {
      font-size: 28px;
    }
}

@media screen and (max-width: 1000px) {
    #heading {
      font-size: 22px;
    }
}
  
@media screen and (max-width: 573px) {
    #heading {
    font-size: 20px;
    }
}

@media screen and (max-width: 350px) {
    #heading {
    font-size: 18px;
    }
}

@media screen and (max-width: 250px) {
    #heading {
    font-size: 16px;
    }
}

#loader {
    
    z-index: 1;
    width: 20px;
    height: 20px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

#map{ 
    height: 500px; 
}

@media screen and (max-width: 576px) {
    #map{ 
        height: 300px; 
    }
}

@media screen and (max-width: 767px) {
    #map{ 
        height: 400px; 
    }
}